
img {
border-radius: 2mm;

left: 68%;
top: 1.5%;

position: absolute;
}

body {
    
    scroll-behavior: smooth;
    height: 100%;
    background-color: #505050;
}
body {

background-color: rgb(20, 20, 20);
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: rgb(255, 255, 255);
    
    /* Create the gradient. */
    background-image: linear-gradient(90deg, rgb(255, 72, 0) 15%, rgb(255, 208, 0) 50%,rgb(255, 208, 0) 15%);
    
    /* Set the background size and repeat properties. */
    background-size: 35%;
    background-repeat: repeat;
    background-clip: border-box;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
.header {
    
    position: fixed;
    top: 0;
    left:0;
    height: 175px;
    z-index: 1;
    width: 100%;
    background-color: #252525;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: rgb(50, 50, 50);
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    size:5cm;
    background: linear-gradient(90deg, rgb(40, 40, 40) 25%, rgb(55, 55, 55) 25%,rgb(40, 40, 40) 25%,rgb(55, 55, 55) 25%);
    width: 0%;
  }

h2 {
    
    top: 1cm;
    
    position:static;
    font-style: bold;
    font-weight: 100;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
p {
    top: 2cm;
    position: static;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(115, 115, 115); 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(30, 30, 30); 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4; 
}
.blur-image {
    /* The image used */
    background-image: url("photographer.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.parallax {
    /* The image used */
    
    
  
    /* Set a specific height */
    left:0%;
    min-height: 750px;
    width: 100%;
    size:initial;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
